<div class="jumbotron">
    <h1>Blockchain Explorer Web</h1>
    <p class="lead">Обозреватель глобального хранилища блоков. Позволяет просматривать блоки службы и добавлять новые данные.</p>
    <p>@Html.ActionLink("Подробнее", "About", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>